.color {
    color:lawngreen;
    

height: 100px; /* La bannière fera 20% de la hauteur de la page... */

width: 100%; /* et 100% de la largeur. */

background-color: lawngreen;
position: fixed; 
bottom: 0px;
background-repeat: repeat /* le fond se répète dans toute les direction. (ligne facultative car option par défaut, mais comme ça coute rien de la mettre...) */
}

.button { 
    display: flex;
    float: right;
    margin-left: 20px;
}